html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}

a {
  text-decoration: none;
}

.MuiListItem-root {
  display: block !important;
}

.nav-header {
  display: flex !important;
  width: 100%;
}

.logo-image {
  width: 125px !important;
  border-radius: 15px;
  filter: invert(1);
}

.logo-image-dark {
  width: 125px !important;
  border-radius: 15px;
}

#address {
  padding-left: 15px;
  /*-webkit-box-shadow: 0 0 0 100px #312d4b inset;
  box-shadow: 0 0 0 100px #312d4b inset;
     border-radius:unset */
     font-size: 0.7em;
}

/* TABLE */
.table-cont {
  font-size: 0.7em;
}

.OwnedMomentsTable {
  display: block !important;
  overflow-x: auto;
}

.MuiTableHead-root {
  white-space: nowrap;
  padding: 10px;
  font-size: 1.2em !important
}

th:nth-child(2) {
  text-align: left;
  padding-left: 10px;
}

td {
  min-width: 75px;
  padding: 5px;
}

td:nth-child(2)>div {
  padding-left: 10px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td:nth-child(n+2) {
  text-align: center;
}

.sortdesc,
.sortasc {
  font-size: 1.2em !important;
  vertical-align: text-bottom;
}

.moment-image {
  border: 2px solid #4fd1c5;
  width: 85px !important;
  min-width: 85px !important;
  border-radius: 15px;
  height: auto;
  margin: 2px;
}

.MuiButton-endIcon {
  width: 10px
}

.moment-name {
  text-align: left;
}

.username{
  color: #4fd1c5 !important
}

.fade-in { animation: fadeIn 1s; }

/* Rarity colors*/
.fandom{
  border: 2px #ffffff
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
